.mdatepicker-input {
    background-image: url( "../images/calendar.svg" );
    width: 78px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    background-color: #FFF;
    background-size: 97%;
}
.mdatepicker-input:hover {
    background-image: url( "../images/calendar.svg" );
    border: 2px solid #42AF53;
}
.react-datepicker__header {
    background-color: black;
}
.react-datepicker__current-month {
    color: white;
    font-family: 'Pretendard';
    font-weight: 700;
}
.react-datepicker__day-name {
    color: white;
    font-family: 'Pretendard';
}
.react-datepicker__day:hover {
    background-color: black;
    color: white;
}
.react-datepicker__day--selected {
    background-color: #42AF53E5;
}